@tailwind base;
@tailwind components;
@tailwind utilities;

.foto {
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}